<div class="card">
  <div class="col-md-6 project-list">
    <div class="card-body">
      <p>{{comment_body}}</p>
      <button type="button" data-id="{{id}}" id="del-comment" class="btn btn-primary">Delete</button>
    </div>
  </div>
</div>