{{!-- Partial for comment card --}}
<div class="card">
  <div class="col-md-6 project-list">
    <div class="card-body">
      <p>{{comment_body}}</p>
    </div>
    <button type="button" dataa-id="{{id}}" id="del-comment" class="btn btn-primary">Delete</button>
  </div>
</div>