<div class="card list">
    <div class="card-body">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
     
    </div>
 <button type="button" dataa-id="{{id}}" id="btn-del-blog" class="btn btn-primary">Delete</button>   
</div>