{{!-- Partial for profile card --}}
<div class="card list">
  <div class="card-body">
    <a href="/">
      <h3>{{title}}</h3>
    </a>
    <p>{{description}}</p>
  </div>
  <button type="button" dataa-id="{{id}}" id="btn-del-blog" class="btn btn-primary">Delete</button>
</div>