{{!-- Partial for profile form --}}
<div class="form-floating">
  Title
  <input type="text" class="form-control" id="title" placeholder="Title" aria-label="Title"
    aria-describedby="basic-addon1">
  Description
  <textarea class="form-control" id="text-description" placeholder="Leave a comment here"
    id="floatingTextarea"></textarea>
  <button type="button" data-id="{{id}}" id="btn-blog" class="btn btn-primary">Submit</button>
</div>