
<h1>{{title}}</h1>
<h3>by {{user.name}} on {{format_date date_created}}</h3>
<p>{{description}}</p>


{{>comment_form}}

{{#each comments as |comment|}}
{{>comment_card}}
{{/each}}


<script src="/js/comment.js"></script>