<div class="profile-container">
<section class="profile">
  {{>profile_form}}
  {{#each blogPosts as |blogPost|}}

  {{>profile_card}}
 
  {{/each}}
</section>
</div>
<script src="/js/profile.js"></script>